.custom-table th {
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  border-collapse: collapse;
  text-align: center;
}

.custom-table th:first-child {
  border-left: none;
}

.custom-table th:last-child {
  border-right: none;
}

.custom-table td {
  border: 1px solid #c5c5c5;
  border-left: none;
  border-collapse: collapse;
  text-align: center;
}

.custom-table td:last-child {
  border-right: none;
}

.custom-table td:last-child {
  border-right: none;
}

.custom-table {
  position: relative;
  border: 1px solid #c5c5c5;
  border-collapse: collapse;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
  max-height: 70vh;
}

th {
  color: #363493;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
}

th:nth-child(1) {
  border-top-left-radius: 8px;
}

td {
  font-size: 13px;
  color: #435071;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background: #d1e9ff;
  border: none;
  color: #363493;
  font-weight: 500;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

thead th:first-child {
  z-index: 5;
}

.custom-table tr .sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
}

.custom-table tr .custom-sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

.custom-table tr:nth-last-child(4) .sticky {
  border-bottom: none;
}

th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

.table__cell {
  position: sticky;
  top: 0;
}

.custom-table {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: auto;
}
.custom-table table {
  width: 100%;
  margin: auto;
}
.table-wrap {
  position: relative;
}

.custom-table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}

th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

tr:last-child td {
  border-bottom: none;
}